html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}



body{
    background-color: #020a18;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

.container{
    max-width: 1220px;
    padding:0 10px;
    margin: 0 auto;
    /*background-color: rgb(8, 8, 57);*/
}

.header{
    height: 100px;
    background-color: #1a212e;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.header__nav-item{
    list-style-type: none;
}

.header__nav-item + .header__nav-item{
    margin-left: 40px; 
}

.header__logo{
    margin-top:auto;
    margin-bottom: auto;
}

.button{
    margin-top: auto;
    margin-bottom:auto;
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    color:#FFFFFF;
}

.header-btn{
    margin-top: 24px;
    margin-bottom: 24px;
}

.start{
    background-color: #181f2c;
}

.start .container{
    display: flex;
    flex-wrap: wrap;
}

.start__inner{
    max-width: 50%;
    padding-right: 50px;
}

.start__image{
    max-width: 300px;
    padding-top: 50px;
    padding-bottom: 90px;
}

.start-img{
    max-width: 600px;
    /*TODO: Исправить ошибку с размером изображения*/
}

.start__phrase{
    margin: 0;
    padding-top: 160px;
    text-transform: uppercase;
    color: #3A68B8;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 10px;
}

.start__title{
    font-weight: 800;
    font-size: 55px;
    line-height: 71px;
    margin-bottom: 40px;
}

.start__title-text{
    opacity: 0.7;
    margin-bottom: 50px;
}

.start-btn{
    text-align: center;
}

.button + .button{
    margin-left: 20px;
}

.start-btn-img{
    display: inline-block;
    position: relative;
    text-align:center;
    padding: 13px 30px 13px 66px;
}

.start-btn-img::before{
    /*TODO: Исправить высоту кнопки*/
    content: "";
    position: absolute;
    width: 20px;
    height: 23px;
    background-image: url(../images/play.svg);
    top: 13px;
    left: 30px;
}


.logos{
    background-color: #181f2c;
    background-image: linear-gradient(180deg,#181f2c,#020a18)
}

.logos__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:100px;
}

.apply{
    background-color:#020a18;
}

.apply__inner{
    display: flex;
    padding-top: 120px;
    padding-bottom: 170px;
}

.apply__photo{
    max-width: 50%;
}

.apply-img{
    max-width: 600px;
}

.apply__info{
    padding-top: 110px;
    padding-left: 50px;
}

.apply__info-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-bottom: 30px;
}

.apply__info-text{
    padding-bottom: 50px;
}

.facts__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;

}

.facts__slider-item{
    display: flex;
    height: 500px;
    max-width: 360px;
    background: linear-gradient(180deg, RGBA(13,20,34, 1), RGBA(255,255,255,0.1));
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 80px;
}

.facts__slider-img{
    padding-top:30px;
    padding-bottom:30px;
    width: 98px;
    height: auto;
    text-align: center;
}

.facts__slider-title{
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    opacity: 0.7;
    max-width: 302px;
    padding-bottom: 30px;
}

.facts__slider-text{
    display: inline-block;
    max-width: 302px;
    padding-bottom: 30px;
}


.facts__slider .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    list-style: none;
}

.facts__slider button{
    margin: 0 5px;
    line-height: 12px;
}

.slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #2C3647;
    opacity: 0.5;;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding: 0;
}

.slick-active button{
    width: 16px;
    height: 16px;
    opacity: 1;
}


/*
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
*/